html { 
  background: url(index24.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 0px;
  padding: 0px;
  width: 100%;  
}

body {
  height: 100%;
  border: 0px;
  padding: 0px;
}


.pad {
  margin: 5px;
  padding: 5px;
}

.btn {
  float: right;
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: darkgoldenrod;
  border: 10px solid darkgoldenrod;
  -moz-border-radius: 20px;   /* Also tried 20px 20px  */
  -webkit-border-radius: 20px; 
  -o-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.round {
  border: 10px solid darkgoldenrod;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;

  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}